.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin: 10px;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

// Navbar Styling

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}

/* Style for the navbar title */
.navbar-title {
  text-align: center;
  flex-grow: 1;
  font-size: 3.5rem;
  font-weight: bold;
}

/* Ensure the navbar menus are flex containers */
.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0 0 4rem 0;
  margin: 0;
  align-items: center;
  /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2); */
}

/* Style for the links */
.navbar-menu a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

/* Make all img tags in the navbar the same size */
.navbar-menu img {
  width: 35px;
  height: 35px;
}

/* Animate hovering over the image links */
.navbar-menu img:hover {
  transform: scale(1.15);
  transition: transform 0.2s;
}
body {
  background-color: #cccccc;
}
